SECRET_KEY=your-secret-key

# MYSQL
MYSQL_USER=your-db-user
MYSQL_PASSWORD=your-db-password

# JWT
JWT_KEY=your-jwt-secret
JWT_ALGORITHM=HS256

# TAPPAY
TP_PARTNER_KEY=your-partner-key
TP_MERCHANT_ID=your-merchant-id