@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Noto Sans TC", sans-serif;
  font-size: $size-default;
  font-weight: $weight-default;
  line-height: $lh-default;

  color: $gray-70;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 1px solid orange;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.default-button {
  padding: 10px 20px;

  border-radius: 5px;
  background-color: $cyan-70;
  color: white;

  &.disabled{
    background-color: $gray-70;
    cursor: default;
  }
}

dialog {
  padding: 0;
  border:0;
  box-shadow: 0px 0px 20px 0px #aaa
}

input, input::placeholder {
  font-family: "Noto Sans TC", sans-serif;
  font-size: $size-default;
  font-weight: $weight-default;
  line-height: 13.3px;
  
  color: $gray-70;
}

input[type="password"] {
  font: caption;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1280px) {
    width: 100%;
  }
}

// shared components
header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $gray-20;
  position: fixed;
  top: 0;
  z-index: 9;

  background-color: white;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headline {
    color: $cyan-70;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu__item {
    padding: 10px;
    text-align: center;
  }

  #navMenuItemLogIn{
    width: 92px;
  }
}

footer {
  padding: 40px 0px;

  text-align: center;
  background-color: $gray-50;
  color: white;
  font-weight: $weight-bold;
}

.seperator {
  border-top: 1px;
  border-color: $gray-20;
  margin-bottom: 40px;
}

// dialog
.dialog__mask {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.25;
  z-index: 10;
}

.dialog__window {
  position: fixed;
  top: 80px;

  width: 340px;
  max-width: 95%;
  border-radius: 6px;

  z-index: 11;
  background-color: white;
  text-align: center;

  .dialog__decorator-bar {
    height: 10px;
    background: $cyan-dark-gradient;
  }

  .dialog__header {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 15px;
  }
  
  .dialog__title {
    flex-grow: 1;
  }
  
  .dialog__close-btn {
    box-sizing: content-box;
    display: block;
    width: 16px;
    height: 16px;
    padding: 7px;
  
    background-image: url(../../images/icons/dialog/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.dialog__main { 
  padding: 15px;
  color: $gray-70;

  input {
    padding: 15px;
    border: 1px solid #ccc;
    
    border-radius: 5px;
    color: $gray-50;
  }
  
  button {
    border-radius: 5px;
  
    background-color: $cyan-70;
  }
  
  input, button, a {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .dialog_btn-text {
    display: block;
    padding: 10px 20px;
  
    font-weight: 400;
    color: white;
  }

  .dialog__message {
    font-size: 12px;
    color:red;

    &.success{
      color: green;
      font-size: 16px;
    }
  }
}


// loading
.bouncing-loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 99;

  div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: $cyan-50;
    border-radius: 50%;
    animation: bouncing-loader 0.5s infinite alternate;
  }
  div:nth-child(2) {
    animation-delay: 0.1s;
  }
  div:nth-child(3) {
    animation-delay: 0.2s;
  }
}
@keyframes bouncing-loader {
  to {
      opacity: 0.5;
      transform: translate3d(0, -12px, 0);
  }
}