@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: $size-default;
  font-weight: $weight-default;
  line-height: $lh-default;

  color: $gray-70;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 1px solid orange;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1280px) {
    width: 100%;
  }
}

// shared components
header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $gray-20;
  position: fixed;
  top: 0;
  z-index: 9;

  background-color: white;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headline {
    color: $cyan-70;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu__item {
    padding: 10px;
  }
}

.dialog__mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.25;
  z-index: 10;
}

.dialog__window {
  width: 340px;
  border-radius: 6px;

  background-color: white;
  z-index: 11;

  .dialog__close-btn {
    box-sizing: content-box;
    display: block;
    width: 16px;
    height: 16px;
    padding: 7px;

    background-image: url(../images/dialog/closeBtn.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}



footer {
  padding: 40px 0px;

  text-align: center;
  background-color: $gray-50;
  color: white;
  font-weight: $weight-bold;
}

// typography
.headline {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}

.slogan__title {
  font-weight: $weight-bold;
  font-size: 28px;
  line-height: 24px;
}

.dialog__title {
  font-size: 24px;
  line-height: auto;
}

.button {
  font-size: 19px;
  line-height: 16px;
}

.content {
  font-size: $size-default;
}

.body {
  font-size: $size-default;
  line-height: auto;
}
.category-list {
  font-size: 14px;
}
