// display
.hidden {
  display: none;
}

.block {
  display: block;
}


// margin
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mr-5 {
  margin-right: 5px;
}


// font weight
.weight-bold {
  font-weight: $weight-bold;
}

.weight-default {
  font-weight: $weight-default;
}

.weight-400 {
  font-weight: 400;
}