// colors
$cyan-70: #448899;
$cyan-50: #66aabb;
$cyan-20: #aaddee;

$gray-70: #666666;
$gray-50: #757575;
$gray-20: #e8e8e8;
$gray-10: #f8f8f8;

$blue-gray: #aabbcc;

// default
$size-default: 16px;
$lh-default: normal;
$weight-default: 500;

// fixed offset
$head-margin: 64px;

// weight
$weight-bold: 700;
