/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #666666;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

dialog {
  padding: 0;
  border: 0;
  box-shadow: 0px 0px 20px 0px #aaa;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headline {
  color: #448899;
}
header .nav-menu {
  display: flex;
}
header .nav-menu__item {
  padding: 10px;
}

footer {
  padding: 40px 0px;
  text-align: center;
  background-color: #757575;
  color: white;
  font-weight: 700;
}

.dialog__mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.25;
  z-index: 10;
}

.dialog__window {
  width: 340px;
  max-width: 95%;
  border-radius: 6px;
  z-index: 11;
  background-color: white;
  text-align: center;
}
.dialog__window .dialog__decorator-bar {
  height: 10px;
  background: linear-gradient(270deg, #337788 40%, #66AABB);
}
.dialog__window .dialog__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.dialog__window .dialog__title {
  flex-grow: 1;
}
.dialog__window .dialog__close-btn {
  box-sizing: content-box;
  display: block;
  width: 16px;
  height: 16px;
  padding: 7px;
  background-image: url(../images/dialog/closeBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.dialog__main {
  padding: 15px;
  color: #666666;
}
.dialog__main input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #757575;
}
.dialog__main button {
  border-radius: 5px;
  background-color: #448899;
}
.dialog__main input, .dialog__main button {
  width: 100%;
  margin-bottom: 10px;
}
.dialog__main .dialog_btn-text {
  display: block;
  padding: 10px 20px;
  font-weight: 400;
  color: white;
}

.headline {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}

.slogan__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
}

.dialog__title {
  font-size: 24px;
  line-height: auto;
}

.button {
  font-size: 19px;
  line-height: 16px;
}

.content {
  font-size: 16px;
}

.body {
  font-size: 16px;
  line-height: auto;
}

.category-list {
  font-size: 14px;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.mr-5 {
  margin-right: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.weight-bold {
  font-weight: 700;
}

.weight-default {
  font-weight: 500;
}

.weight-400 {
  font-weight: 400;
}

.hero {
  margin-top: 64px;
  padding: 76px 0px;
  background-image: url("../images/welcome_image.png");
  background-size: cover;
  color: white;
}

.slogan {
  padding: 10px;
}

.search {
  display: flex;
}

.search__input {
  width: 400px;
  padding: 15px;
  border: 0;
  border-radius: 8px 0px 0px 8px;
  color: #757575;
  box-shadow: 0px 0px 20px 0px #abc;
}
@media (max-width: 768px) {
  .search__input {
    width: 70%;
  }
}
.search__input:focus {
  color: black;
  outline: 0;
}

.search__btn {
  border-radius: 0px 8px 8px 0px;
  background-color: #448899;
}

.search__btn-icon {
  padding: 8px 15px;
}

.list-bar {
  display: flex;
  align-items: center;
}

.list-bar__btn {
  background-color: white;
}

.list-bar__prev-btn {
  padding: 9px 0px 9px 15px;
}

.list-bar__next-btn {
  padding: 9px 15px 9px 0px;
}

.list-bar__btn-icon {
  display: block;
  width: 32px;
  height: 32px;
}

.list-bar__prev-btn-icon {
  background-image: url(../images/button/prevBtn.svg);
}
.list-bar__prev-btn-icon:hover {
  background-image: url(../images/button/prevBtn_black.svg);
}

.list-bar__next-btn-icon {
  background-image: url(../images/button/nextBtn.svg);
}
.list-bar__next-btn-icon:hover {
  background-image: url(../images/button/nextBtn_black.svg);
}

.list-bar__list {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-bar__list::-webkit-scrollbar {
  display: none;
}

.list-bar__item {
  flex-shrink: 0;
  padding: 15px 15px;
  border: 0;
  background-color: transparent;
  color: #666666;
}
.list-bar__item:hover {
  color: black;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 15px;
}
@media (max-width: 1280px) {
  .home-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .home-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home-content .card {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.home-content .card__image-block {
  position: relative;
}
.home-content .card__img {
  width: 100%;
  height: 197px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1280px) {
  .home-content .card__img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .home-content .card__img {
    height: 235px;
  }
}
.home-content .card__title {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.home-content .card__title-text {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-content .card__info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #757575;
}

.attraction {
  display: flex;
  flex: auto;
  margin-top: 104px;
  padding: 0px 15px 40px 15px;
  border-bottom: 1px solid #e8e8e8;
}
@media (max-width: 1200px) {
  .attraction {
    margin-top: 64px;
    flex-wrap: wrap;
    padding: 0;
    border: 0;
  }
}

.attraction__carousel {
  position: relative;
  flex-grow: 1;
  height: 406px;
  margin-right: 30px;
}
@media (max-width: 1200px) {
  .attraction__carousel {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .attraction__carousel {
    height: 350px;
  }
}

.carousel__image-block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__images {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.carousel__btn {
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.carousel__prev-btn {
  position: absolute;
  left: 10px;
  top: 50%;
}

.carousel__next-btn {
  position: absolute;
  right: 10px;
  top: 50%;
}

.carousel__dot-list {
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__dot {
  box-sizing: content-box;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 0px 6px;
  opacity: 0.75;
  background-color: white;
}
.carousel__dot.active {
  background-color: black;
  border: 1px solid white;
}

.attraction__profile {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 8px 0px;
}
@media (max-width: 1200px) {
  .attraction__profile {
    width: 100%;
    padding: 0;
    margin: 0px 10px;
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid #e8e8e8;
  }
}

.attraction__form {
  flex-grow: 1;
  padding: 15px 20px 40px 20px;
  border-radius: 5px;
  background-color: #e8e8e8;
}
.attraction__form button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #448899;
  color: white;
}
.attraction__form .form__date {
  width: 195px;
  font-family: inherit;
  padding: 5px 10px;
  border: 0;
}
.attraction__form .form__date::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
}

.attraction__form-time {
  display: flex;
  align-items: center;
}
.attraction__form-time label {
  padding: 0px 8px 0px 0px;
  margin: 0px 5px 0px 0px;
}
.attraction__form-time input[type=radio] {
  /* Remove the default styles on browsers */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  padding: 0px 0px 0px 5px;
  margin: 0px 4px 0px 0px;
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
}
.attraction__form-time input[type=radio]:checked {
  background-color: #448899;
}

.attraction__info {
  padding: 10px 10px 60px 10px;
}/*# sourceMappingURL=style.css.map */