<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/scss/style.css" />
    <script defer src="../static/attraction/index.js"></script>
  </head>
  <body>
    <header>
      <nav class="container">
        <h1 class="headline">
          <a href="/">台北一日遊</a>
        </h1>
        <div class="nav-menu">
          <a class="nav-menu__item body" href="#">預定行程</a>
          <a class="nav-menu__item body" href="#">登入/註冊</a>
        </div>
      </nav>
    </header>
    <section class="attraction container">
      <div class="attraction__carousel">
        <div class="carousel__image-block">
          <img
            class="carousel__images"
            src="https://fakeimg.pl/350x200/?text=Hello1"
            alt=""
          />
          <img
            class="carousel__images"
            src="https://fakeimg.pl/350x200/?text=Hello2"
            alt=""
          />
          <img
            class="carousel__images"
            src="https://fakeimg.pl/350x200/?text=Hello3"
            alt=""
          />
          <img
            class="carousel__images"
            src="https://fakeimg.pl/350x200/?text=Hello4"
            alt=""
          />
        </div>
        <button
          class="carousel__prev-btn carousel__btn"
          onclick="changeCarouselIndex(-1)"
        >
          <img
            src="../static/images/button/noBorder/prevBtn.svg"
            alt="previous image button"
          />
        </button>
        <button
          class="carousel__next-btn carousel__btn"
          onclick="changeCarouselIndex(1)"
        >
          <img
            src="../static/images/button/noBorder/nextBtn.svg"
            alt="next image button"
          />
        </button>
        <div class="carousel__dot-list">
          <button class="carousel__dot"></button>
          <button class="carousel__dot"></button>
          <button class="carousel__dot"></button>
          <button class="carousel__dot"></button>
        </div>
      </div>
      <div class="attraction__profile">
        <h2 class="attraction__title dialog__title weight-bold mb-15">
          景點名稱
        </h2>
        <p class="attraction__info body mb-20">景點資訊</p>

        <div class="attraction__form body">
          <p class="mb-15 weight-bold">訂購導覽行程</p>
          <p class="mb-15">以此景點為中心的一日行程，帶您探索城市角落故事</p>
          <div class="attraction__formd-date mb-15">
            <span for="date" class="weight-bold mr-5">選擇日期：</span>
            <input id="date" type="date" />
          </div>
          <div class="attraction__form-time mb-15">
            <span class="weight-bold mr-5">選擇時間：</span>
            <!-- <div> -->
            <div class="form__time-label">
              <input
                id="timeAM"
                class="mr-5"
                type="radio"
                name="time"
                value="am"
              />
              <label for="timeAM">上半天</label>
            </div>
            <div class="form__time-label">
              <input id="timePM" type="radio" name="time" value="pm" />
              <label for="timePM">下半天</label>
            </div>
            <!-- </div> -->
          </div>
          <div class="attraction__form-price mb-25">
            <span class="weight-bold mr-5">導覽費用：</span>
            <span>新台幣 2000 元</span>
          </div>
          <button class="attraction__form-btn button">
            <span>開始預訂行程</span>
          </button>
        </div>
      </div>
    </section>
    <section class="info container mb-40">
      <p class="info__description"></p>
      <p class="info__address"></p>
      <p class="info__transport"></p>
    </section>

    <footer id="footer">
      <span>COPYRIGHT © 2023 台北一日遊</span>
    </footer>
  </body>
</html>
