<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>台北一日遊</title>
  <link rel="stylesheet" href="../static/scss/css/style.css" />
  <script defer src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
  <script type="module" src="../static/js/booking/booking.js"></script>
  <script type="module" src="../static/js/booking/tappay.js"></script>
</head>

<body>
  {% include './shared/header.html' %}

  <h3 id="headline" class="booking-headline button weight-bold mb-30">
    <span>您好，</span>
    <span class="header__username"></span>
    <span>，待預訂的行程如下：</span>
    </h2>
    <main id="mainContent" class="content container hidden">
      <section class="attraction-list booking-container mb-40">
        <div class="attraction-list__image-block">
          <img src="" alt="attraction-img" class="attraction-list__image">
        </div>

        <div class="attraction-list__info-block">
          <h3 class="attraction-list__title body mb-20 weight-bold">
            <span>台北一日遊：</span>
            <span class="attraction-list__attraction"></span>
          </h3>
          <p class="attraction-list__info">
            <span class="attraction-list__info-title">日期：</span>
            <span class="attraction-list__date"></span>
          </p>
          <p class="attraction-list__info">
            <span class="attraction-list__info-title">時間：</span>
            <span class="attraction-list__time"></span>
          </p>
          <p class="attraction-list__info">
            <span class="attraction-list__info-title">費用：</span>
            <span class="attraction-list__price"></span>
          </p>
          <p class="attraction-list__info">
            <span class="attraction-list__info-title">地點：</span>
            <span class="attraction-list__address"></span>
          </p>
        </div>
        <button id="bookingDeleteBtn" class="attraction-list__delete-btn">
          <span class="attraction-list__delete-icon"></span>
        </button>
      </section>
      <hr class="seperator" />
      <section class="info-form contact-form booking-container mb-40">
        <h3 class="info-form__title weight-bold">您的聯絡資訊</h3>
        <p class="info-form__info">
          <span>聯絡姓名：</span>
          <input type="text" class="info-form__name"></input>
        </p>
        <p class="info-form__info">
          <span>連絡信箱：</span>
          <input type="email" class="info-form__email"></input>
        </p>
        <p class="info-form__info">
          <span>手機號碼：</span>
          <input type="tel" minlength="10" maxlength="10" class="info-form__phone" placeholder="0912345678"></input>
        </p>
        <p class="weight-bold mt-20">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
      </section>
      <hr class="seperator" />
      <section class="info-form payment-form booking-container mb-40">
        <div class="info-form__info body">
          <span>卡片號碼：</span>
          <div class="tpfield" id="card-number"></div>
        </div>
        <div class="info-form__info body">
          <span>過期時間：</span>
          <div class="tpfield" id="card-expiration-date"></div>
        </div>
        <div class="info-form__info body">
          <span>驗證密碼：</span>
          <div class="tpfield" id="card-ccv"></div>
        </div>
      </section>
      <hr class="seperator" />
      <section class="confirm booking-container mb-40">
        <p class="confirm-info body">
          <span class="weight-bold">總價：</span>
          <span class="confirm-info__total weight-bold">總價：</span>
        </p>
        <button id="confirmBtn" class="confirm-info__btn dialog__btn default-button button disabled">
          <!-- <button id="confirmBtn" class="confirm-info__btn dialog__btn default-button button"> -->
          <span class="confirm-info__btn-text">確認訂購並付款</span>
        </button>
      </section>
    </main>
    <p id="messageEmptyState" class="booking__message--empty body mb-40">目前沒有任何待預訂的行程</p>
    {% include './shared/loading.html' %}
    {% include './shared/footer.html' %}
</body>
<script>
</script>

</html>