<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/scss/style.scss" />
  </head>
  <body>
    <header class="container">
      <h1><a href="./index.html">台北一日遊</a></h1>
      <nav><a href="#">預定行程</a><a href="#">登入／註冊</a></nav>
    </header>
    <section class="hero">
      <h2>輕鬆享受台北一日悠閒</h2>
      <p>探索每個角落，體驗程式的深度旅遊行程</p>
      <div class="search">
        <input type="text" placeholder="輸入景點名稱查詢" />
        <button>
          <img src="../static/images/search.png" alt="search" />
        </button>
      </div>
    </section>
    <div class="list-bar container">
      <div class="list-bar__items">
        <button class="list-bar__item">mrts</button>
      </div>
      <button class="list-bar__prev-btn">
        <img src="../static/images/btn_leftArrow.png" alt="previous btn" />
      </button>
      <button class="list-bar__next-btn">
        <img src="../static/images/btn_rightArrow.png" alt="next btn" />
      </button>
      <main class="content">
        <div class="card">
          <img class="card__img" src="" alt="attraction" />
          <div class="card__title">attraction name</div>
          <div class="card__info">
            <span>mrt</span>
            <span>category</span>
          </div>
        </div>
      </main>
      <footer>
        <span>COPYRIGHT © 2021 台北一日遊</span>
      </footer>
    </div>
  </body>
</html>
