<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>台北一日遊</title>
  <link rel="stylesheet" href="../static/scss/style.css" />
  <script type="module" src="../static/js/order/thankyou.js"></script>
</head>

<body>
  {% include './shared/header.html' %}

  <section class="container thankyou">
    <div class="message body">
      <h3 class="message__title dialog__title weight-bold">訂單成立</h3>
      <span class="message__icon"></span>
      <p class="message__description">訂單編號：</p>
      <!-- <p class="message__description weight-bold">付款狀態：</p> -->
    </div>
  </section>
  {% include './shared/footer.html' %}
</body>

</html>